asgiref==3.5.0
backports.zoneinfo==0.2.1
click==8.0.4
colorama==0.4.4
dj-database-url==0.5.0
Django==4.0.3
django-heroku==0.3.1
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.0
Pillow==9.0.1
psycopg2==2.9.3
shell==1.0.1
SQLAlchemy==1.4.32
sqlparse==0.4.2
typing_extensions==4.1.1
tzdata==2021.5
waitress==2.1.0
Werkzeug==2.0.3
whitenoise==6.0.0
