{% extends 'main/main.html' %}{% load static %} {% block content %}

<div class="container">
  <div class="row mt-4">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">{{ object.title }}</h2>
        <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <img
          src="/media/{{post.thumbnail}}"
          class="img-thumbnail"
          style="width: 200; height: 200"
          aria-label="Placeholder: Thumbnail"
        />
        <p class="card-text text-justify">{{ object.content | safe }}</p>
      </div>
      <!-- /.blog-post -->
    </div>
    <!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">
          Labaik Media Cell
          <em>started out as a middle projects and is now</em> the fastest
          growing Islamic studio of all times in Pakistan.
        </p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>
    <!-- /.blog-sidebar -->
  </div>
</div>

{% endblock%}
