{% include 'Statics.html' %}

<!-- Footer Start -->
<div
  class="footer wow fadeIn"
  data-wow-delay="0.3s"
  style="font-family: Times New Roman, Times, serif"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="footer-contact">
          <h2>Office Contact</h2>
          <p>
            <i class="fa fa-map-marker-alt"></i>Shafe Plaza Gajju Matta Lahore
          </p>
          <p><i class="fa fa-phone-alt"></i>+92 315 5098389</p>
          <p><i class="fa fa-envelope"></i>labbaikmediacellstudio@gmail.com</p>
          <div class="footer-social">
            <a href="https://twitter.com/owaisra82227172" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/OwaisRaza78617/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3" style="margin-left: 8%">
        <div class="footer-link">
          <h2>Services Areas</h2>
          <a href="service/">pana flax </a>
          <a href="service/">Wedding Card Printing</a>
          <a href="service/">Poster design</a>
          <a href="service/">visiting card printing</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3" style="margin-left: 5%">
        <div class="footer-link">
          <h2>Useful Pages</h2>
          <a href="/about">About Us</a>
          <a href="/contact">Contact Us</a>  
          <a href="/developer">Developer's Contact</a>  
        </div>
        <div
        id="google_translate_element"
        class="nav-item nav-link"
        style="
          
          font-family: Times New Roman, Times, serif;
        "
      ></div>
      </div>
    </div>
  </div>
  <div class="container footer-menu">
    <div class="f-menu">
      <a href="/terms/">Terms of use</a>
      <a href="/privacy/">Privacy policy</a>
    </div>
  </div>
  <div class="container copyright">
    <div class="row">
      <div class="col-md-5">
        <p>&copy; <a href="/">Labbaik Media Cell</a>, All Right Reserved.</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {
        pageLanguage: "en",
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      },
      "google_translate_element"
    );
  }
</script>

<script
  type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
></script>

<!-- Footer End -->
