{% extends 'main/main.html' %} {% load static %} {%block content %}
<!-- Page Header Start -->
<div class="page-header" style="font-family: Times New Roman, Times, serif; background: #acc;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>About Us</h2>
      </div>
      <div class="col-12">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div
  class="about wow fadeInUp"
  data-wow-delay="0.1s"
  style="font-family: Times New Roman, Times, serif"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        <div class="about-img">
          <img src="{% static 'img/about.jpg' %}" alt="Image" />
        </div>
      </div>
      <div class="col-lg-7 col-md-6">
        <div class="section-header text-left">
          <p>Welcome to Labbaaik Media Cell</p>
          <h2>5 Years Experience</h2>
        </div>
        <div class="about-text">
          <p>
            When and for what purpose was the Labbaik Media Cell Team formed? ”
            But in order to make our work even better and faster, we formed a
            team on 1/09/2017 called Regular Labbaik Media Cell and with every
            passing moment we continue to accelerate our work on social media.
            Now we have Alhamdulillah. " There are 80 groups on WhatsApp under
            the name of "Labbaik Media Cell Official" and at the same time on
            Twitter and YouTube our team is continuing its work with full force.
            I want to spread the message of the religion of Mustafa Kareem
            (peace and blessings of Allah be upon him) and be a part of this
            great mission of Baba-ji (may Allah have mercy on him) in Pakistan
            All admins of Labbaik Media Cell team on all social media platforms.
            Tehreek-e-Labbaik-e-Pakistan is working by Leaps and bounds. All
            these are the special eyes of Hazrat Sarwar-e-Quneen (peace be upon
            him) and the qiblah of Amir-ul-Mujahideen Hazrat Allama Moulana Imam
            Hafiz Khadim Hussain Rizvi Noorullah Marqada is a spiritual
            blessing. May Allah (swt) accept and accept the efforts of the Holy
            Prophet (sws) and show us the religion of the Holy Prophet (sws) on
            the throne with our own eyes. Amen.
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
<div class="team" style="font-family: Times New Roman, Times, serif">
  <div class="container">
    <div class="section-header text-center">
      <p>Our Team</p>
      <h2>Meet Our Team</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/picshah.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Syed Hamid Mehmood</h2>
            <p>CEO</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/HAJI_SAHAB.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Aamir Rehman</h2>
            <p>HEAD</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/picrashid.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Rashid Mehmood</h2>
            <p>DEPUTY HEAD</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/picnaveed.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Naveed Iqbal</h2>
            <p>Cashier</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/azeem.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Qazi Azeem</h2>
            <p>Head of Studio</p>
          </div>
          <div class="team-social">
            <a
              class="social-tw"
              href="https://twitter.com/LabbaikStudio?t=WkYeIqbKYwymfOpeee9DEA&s=09"
              target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
            <a
              class="social-fb"
              href="https://www.facebook.com/qazikhalil.rahman.3"
              target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="social-fb"
              href="https://wa.me/+923155098389"
              target="_blank"
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/owais bhai.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Owais Raza</h2>
            <p>Developer</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a
              class="social-fb"
              href="https://www.facebook.com/OwaisRaza78617"
              target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="social-fb"
              href="https://wa.me/+923177765618"
              target="_blank"
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/Shahzaib.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Rao Shahzaib</h2>
            <p>Whatsapp Head</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/ismail.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Muhammad Ismail</h2>
            <p>Content Writer</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/sahil.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Muhammad Sahil</h2>
            <p>General Secretary</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/naveed mughal.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Naveed Mughal</h2>
            <p>Coverage Expert</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/qazi muneeb.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Qazi Muneeb</h2>
            <p>Whatsapp Handler</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/toseef.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Muhammad Touseef</h2>
            <p>Coverage Expert</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/zakria bhai.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Zakaria Khan Qadri</h2>
            <p>Senior Member</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/Zeeshan.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Muhammad Zeshan</h2>
            <p>Twitter Account Handler</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/nabeel chand.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Nabeel Chand</h2>
            <p>Coverage Expert</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/kashif bhai.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Meher Kashif</h2>
            <p>Graphics Designer</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/faisel.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Muhammad Faisal</h2>
            <p>Graphics Designer</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/ali haider.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Ali Haider</h2>
            <p>Member</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/ameer hamza.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Ameer Hamza</h2>
            <p>Social Media Expert</p>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
          <div class="team-social">
            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="social-fb" href=""
              ><i class="fab fa-whatsapp" style="background-color: green"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="team-item">
          <div class="team-img">
            <img src="{% static 'img/Wajahat.jpg' %}" alt="Team Image" />
          </div>
          <div class="team-text">
            <h2>Wajahat Ameen</h2>
            <p>Coverage Expert</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- FAQs End -->
{% endblock %}
