{% extends 'main/main.html' %} {% load static %}{% load embed_video_tags %}
{%block content %}
<style>
  h3{
    font-family: Times New Roman, Times, serif
  }
  h2{
    font-family: Times New Roman, Times, serif
  }
  p{
    font-family: Times New Roman, Times, serif
  }
</style>
<div class="page-header" style="font-family: Times New Roman, Times, serif; background: #acc;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Gallery</h2>
      </div>
      <div class="col-12">
        <a href="/">Home</a>
        <a href="/gallery">Gallery</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-2">
    {% for i in videos %}

    <div class="col-md-6">
      <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-3 d-flex flex-column position-static">
          {% video i.video 'small' %}
          <h3 class="mb-4">{{i.title}}</h3>
          
          <p class="card-text mb-4 text-justify">
            {{i.content|slice:":100" }}
          </p>
         
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
  </div>
  <div class="row my-2">{% endif %} {% endfor %}</div>
</div>
</div>
</div>

{% endblock %}

  {% comment %} {% for i in videos %}
  <div class="mt-5 px-5">
    {% video i.video 'small' %}
    <p class="h5 text-justify">{{i.title}}</p>
    {%endfor%}
  </div>
  {% endblock %}
</div> {% endcomment %}
